[submodule ".modules/OpenTabletDriver.External"]
	path = .modules/OpenTabletDriver.External
	url = https://github.com/Mrcubix/OpenTabletDriver.External.git
	branch = master
[submodule ".modules/OTD.EnhancedOutputMode"]
	path = .modules/OTD.EnhancedOutputMode
	url = https://github.com/Mrcubix/OTD.EnhancedOutputMode.git
	branch = master
[submodule ".modules/OpenTabletDriver.External-0.6.x"]
	path = .modules/OpenTabletDriver.External-0.6.x
	url = https://github.com/Mrcubix/OpenTabletDriver.External.git
	branch = 0.6.x
[submodule ".modules/OTD.EnhancedOutputMode-0.6.x"]
	path = .modules/OTD.EnhancedOutputMode-0.6.x
	url = https://github.com/Mrcubix/OTD.EnhancedOutputMode.git
	branch = 0.6.x
